bin/Debug/net6.0/Exceptions.deps.json
bin/Debug/net6.0/Exceptions.dll
bin/Debug/net6.0/Exceptions.exe
bin/Debug/net6.0/Exceptions.pdb
bin/Debug/net6.0/Exceptions.runtimeconfig.json
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Exceptions.AssemblyInfo.cs
obj/Debug/net6.0/Exceptions.AssemblyInfoInputs.cache
obj/Debug/net6.0/Exceptions.assets.cache
obj/Debug/net6.0/Exceptions.csproj.AssemblyReference.cache
obj/Debug/net6.0/Exceptions.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Exceptions.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Exceptions.dll
obj/Debug/net6.0/Exceptions.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Exceptions.genruntimeconfig.cache
obj/Debug/net6.0/Exceptions.GlobalUsings.g.cs
obj/Debug/net6.0/Exceptions.pdb
obj/Debug/net6.0/ref/Exceptions.dll
obj/Debug/net6.0/refint/Exceptions.dll
obj/Exceptions.csproj.nuget.dgspec.json
obj/Exceptions.csproj.nuget.g.props
obj/Exceptions.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
